extends ../admin

block content
    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2= model

    form(action="#{admin_url}/#{controller}/save", method="post", enctype="multipart/form-data")
        div.card
            div.card-header= headerTitle
            div.card-body
                each layout in layouts
                    div.form-group
                        label #{layout.label}

                        - if (layout.type === 'select') {

                            select(
                            name=layout.name,
                            class="form-control " + layout.class
                            )
                                option(value="")
                        - } else if (layout.type === 'date') {

                            input(
                            type="text",
                            name=layout.name,
                            class="form-control datepicker " + layout.class
                            )
                        - } else if (layout.type === 'file' || layout.type === 'image') {

                            input(
                            type="file",
                            name=layout.name,
                            class="form-control " + layout.class
                            )
                        - } else {

                            input(
                            type=layout.type,
                            name=layout.name,
                            class="form-control " + layout.class
                            placeholder=layout.placeholder,
                            value=record[layout.name]
                            )
                        - }

            div.card-footer
                button.btn.btn-primary(type="submit") Save
