extends ../admin

block content
    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Profile

    form#profileForm(action="#{base_url}/admin/profile", method="post", enctype="multipart/form-data")
        div.card
            div.card-header Update Profile
            div.card-body
                each layout in layouts
                    div.form-group
                        label #{layout.label}
                        - if (layout.type === 'textarea') {

                            textarea(
                            name=layout.name,
                            class="form-control " + (layout.class || ''),
                            id=layout.id
                            ) #{profile[layout.value]}
                        - } else if (layout.type === 'multitext') {

                            - if (layout.name === 'profile[title]') {

                                div.form-group
                                    ul
                                        li(v-for="(item, index) in title_arr")
                                            span.mr-2 {{ item }}
                                            a.text-right(href="javascript:void(0)", "@click"="removeTitle(index)")
                                                i.fas.fa-trash

                                div.form-row
                                    div.col-7
                                        input(
                                        type="text",
                                        class="form-control " + (layout.class || ''),
                                        id="title",
                                        v-model="title"
                                        )
                                        input(type="hidden", name=layout.name, value=profile.title, id="titleValue")
                                    div.col
                                        button.btn.btn-outline-secondary(type="button", "@click"="addTitle()") Add
                            - } else if (layout.name === 'profile[social]') {

                                div.form-group
                                    ul
                                        li(v-for="(item, index) in social_arr")
                                            span.mr-2 {{ item }}
                                            a(href="javascript:void(0)", "@click"="removeSocial(index)")
                                                i.fas.fa-trash

                                div.form-row
                                    div.col-3
                                        select.form-control(v-model="social", style="height: 50px")
                                            option(value="facebook") Facebook
                                            option(value="twitter") Twitter
                                            option(value="linkedin") LinkedIn
                                            option(value="github") Github
                                    div.col-7
                                        input(
                                        type="text",
                                        class="form-control " + (layout.class || ''),
                                        id="socialLink",
                                        v-model="socialLink"
                                        )
                                        input(type="hidden", name=layout.name, value=profile.social, id="socialValue")
                                    div.col
                                        button.btn.btn-outline-secondary(type="button", "@click"="addSocial()") Add
                            -}
                        - } else if (layout.type === 'image') {

                            input(
                            type="file",
                            name=layout.name,
                            class="form-control " + (layout.class || ''),
                            id=layout.id
                            )
                            if profile[layout.value]
                                div(style="height: 200px")
                                    img.img-fluid(src="/files/" + profile[layout.value], style="height: 100%")
                        - } else {

                            input(
                            type=layout.type,
                            name=layout.name,
                            value=profile[layout.value]
                            class="form-control " + (layout.class || ''),
                            id=layout.id,
                            placeholder=layout.placeholder
                            )
                        - }

            div.card-footer
                button.btn.btn-primary(type="submit") Save

    script.
        var vueApp = new Vue({
            el: '#profileForm',
            data: {
                title: '',
                social: '',
                socialLink: '',
                title_arr: JSON.parse('!{profile.title}') || [],
                social_arr: JSON.parse('!{profile.social}') || []
            },
            methods: {

                addTitle() {

                    if (this.title) {

                        this.title_arr.push(this.title);
                        this.title = '';

                        jQuery('#titleValue').val(JSON.stringify(this.title_arr));
                    }
                },

                removeTitle(index) {
                    this.title_arr.splice(index, 1);
                    jQuery('#titleValue').val(JSON.stringify(this.title_arr));
                },

                addSocial() {

                    if (this.social && this.socialLink) {

                        this.social_arr.push({
                            social: this.social,
                            link: this.socialLink
                        });

                        this.social = '';
                        this.socialLink = '';

                        jQuery('#socialValue').val(JSON.stringify(this.social_arr));
                    }
                },

                removeSocial(index) {
                    this.social_arr.splice(index, 1);
                    jQuery('#socialValue').val(JSON.stringify(this.social_arr));
                }
            }
        });
