extends ../admin

block content
    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Profile

    form(action="#{base_url}/admin/profile", method="post", enctype="multipart/form-data")
        div.card
            div.card-header Update Profile
            div.card-body
                each layout in layouts
                    div.form-group
                        label #{layout.label}
                        - if (layout.type === 'textarea') {
                            textarea(
                            name=layout.name,
                            class="form-control " + (layout.class || ''),
                            id=layout.id
                            )
                        - } else {
                            input(
                            type= layout.type,
                            name= layout.name,
                            class="form-control " + (layout.class || ''),
                            id=layout.id,
                            placeholder=layout.placeholder
                            )
                        - }

            div.card-footer
                button.btn.btn-primary(type="submit") Save
