extends ../layout

block content
    div#header.home(style="background: url('#{base_url}/files/#{profile.cover}') repeat scroll center center / cover")
        div.container
            div.header-content
                h1 I'm
                    span.typed
                p= profile.title

                ul.list-unstyled.list-social
                    each social in profile.social
                        li
                            a(href=social.link, class="ion-social-" + social.social)

    div#about.paddsection
        div.container
            div.row.justify-content-between
                div.col-lg-4
                    div.div-img-bg
                        div.about-img
                            img.img-responsive(src=base_url + "/files/" + profile.avatar, alt="me")

                div.col-lg-7
                    div.about-descr
                        p.p-heading= profile.summary
                        p.separator= profile.description

    div#services
        div.container
            div.services-carousel.owl-theme
                each item in skills
                    div.services-block
                        i(class=item.icon)
                        span= item.name
                        p.separator= item.description

    div#portfolio.text-center.paddsection
        div.container
            div.section-title.text-center
                h2 My Portfolio

        div.container
            div.row
                div.col-md-12
                    div.portfolio-list
                        ul.nav.list-unstyled#portfolio-flters
                            li.filter.filter-active(data-filter=".all") all
                            each item in appListStrings.portfolioCategory
                                li.filter(data-filter="." + item)= item

                    div.portfolio-container
                        each item in portfolios

                            - var className = '';
                            each c in JSON.parse(item.category)
                                - className += c + ' ';

                            div(class="col-lg-4 col-md-6 portfolio-thumbnail all " + className)
                                a.popup-img(href=base_url + "/files/" + item.image)
                                    img(src=base_url + "/files/" + item.image, alt=item.name)

    div#journal.text-left.paddsection
        div.container
            div.journal-block
                div.row
                    each item in blogs
                        div.col-lg-4.col.col-md-6
                            div.journal-info
                                a(href="")
                                    img.img-responsive(src=base_url + "/files/blog/" + item.image, alt=item.name)

                                div.journal-txt
                                    h4
                                        a(href="")= item.name

                                    p.separator= item.summary

    div#contact.paddsection
        div.container
            div.contact-block1
                div.row
                    div.col-lg-6
                        div.contact-contact
                            h2.mb-30 GET IN TOUCH

                            ul.contact-details
                                li
                                    span= profile.address
                                li
                                    span= profile.phone
                                if profile.phone_alt
                                    li
                                        span= profile.phone_alt
                                li
                                    span= profile.email
                                if profile.email_alt
                                    li
                                        span= profile.email_alt

                    div.col-lg-6
                        form.contactForm(action="", method="post", role="form")
                            div.row
                                div#sendmessage Your message has been sent. Thank you!
                                div#errormessage

                                div.col-lg-6
                                    div.form-group.contact-block1
                                        input#name.form-control(type="text" name="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars")
                                        div.validation

                                div.col-lg-6
                                    div.form-group
                                        input#email.form-control(type="email" name="email" placeholder="Your Email" data-msg="Please enter a valid email")
                                        div.validation

                                div.col-lg-12
                                    div.form-group
                                        input#subject.form-control(type="text" name="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject")
                                        div.validation

                                div.col-lg-12
                                    div.form-group
                                        textarea#message.form-control(name="message" placeholder="Message" rows="12" data-msg="Please enter at least 8 chars of subject")
                                        div.validation

                                div.col-lg-12
                                    button.btn.btn-defeault.btn-send(type="submit") Send message

    div#footer.text-center
        div.container
            div.socials-media.text-center
                ul.list-unstyled
                    each social in profile.social
                        li
                            a(href=social.link)
                                i(class="ion-social-" + social.social)

            p &copy; Copyrights Hana Profile. All rights reserved.

            div.credits
                Designed by
                a(href="https://bootstrapmade.com/")= ' BootstrapMade'

    script.
        jQuery(document).ready(function() {

            var typed = $(".typed");

            $(function () {
                typed.typed({
                    strings: !{JSON.stringify(profile.typed)},
                    typeSpeed: 100,
                    loop: true
                });
            });
        });
