doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1.0", name="viewport")

        title= title

        meta(content="", name="keywords")
        meta(content="" name="description")

        link(rel="shortcut icon" href="#{static_url}/images/favicon.png")

        link(href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i", rel="stylesheet")
        link(href="#{static_url}/lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="#{static_url}/lib/ionicons/css/ionicons.min.css", rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", rel="stylesheet", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
        link(href="#{static_url}/lib/owlcarousel/assets/owl.carousel.min.css", rel="stylesheet")
        link(href="#{static_url}/lib/magnific-popup/magnific-popup.css", rel="stylesheet")
        link(href="#{static_url}/lib/hover/hover.min.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css", rel="stylesheet")

        link(rel="stylesheet", href="#{static_url}/css/style.css")
        link(href="#{static_url}/css/responsive.css", rel="stylesheet")
        link(href="#{static_url}/css/admin.css", rel="stylesheet")

        script(src="#{static_url}/lib/jquery/jquery.min.js")
        script(src="#{static_url}/lib/jquery/jquery-migrate.min.js")
        script(src="#{static_url}/lib/bootstrap/js/bootstrap.bundle.min.js")

        each css in cssCustom
            link(href=css, rel="stylesheet")

        each js in jsCustom
            script(src=js)
    body
        nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
            a.navbar-brand.col-sm-3.col-md-2.mr-0(href="#{admin_url}") Hana Profile
            input.form-control.form-control-dark.w-100(type="text", placeholder="Search", aria-label="Search")

            ul.navbar-nav.px-3
                li.nav-item.text-nowrap
                    a.nav-link(href="#{admin_url}/logout") Logout

        div.container-fluid
            div.row
                nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                    div.sidebar-sticky
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}")
                                    i.fas.fa-home
                                    = ' Index'
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/settings")
                                    i.fas.fa-cog
                                    = ' Settings'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/profile")
                                    i.fas.fa-user-circle
                                    = ' Profile'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/skills")
                                    i.fas.fa-user-circle
                                    = ' Skills'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/experiences")
                                    i.fas.fa-user-circle
                                    = ' Experiences'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/portfolios")
                                    i.fas.fa-user-circle
                                    = ' Portfolios'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/blogs")
                                    i.fas.fa-user-circle
                                    = ' Blog'
                            li.nav-item
                                a.nav-link.active(href="#{admin_url}/pages")
                                    i.fas.fa-user-circle
                                    = ' Pages'

        main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
            block content

        script(src="#{static_url}/lib/typed/typed.js")
        script(src="#{static_url}/lib/owlcarousel/owl.carousel.min.js")
        script(src="#{static_url}/lib/magnific-popup/magnific-popup.min.js")
        script(src="#{static_url}/lib/isotope/isotope.pkgd.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js")
        script(src="#{static_url}/contactform/contactform.js")
        script(src="#{static_url}/js/main.js")
