doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1.0", name="viewport")

        title= title

        meta(content="", name="keywords")
        meta(content="" name="description")

        link(href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i", rel="stylesheet")
        link(href="#{static_url}/lib/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="#{static_url}/lib/ionicons/css/ionicons.min.css", rel="stylesheet")
        link(href="#{static_url}/lib/owlcarousel/assets/owl.carousel.min.css", rel="stylesheet")
        link(href="#{static_url}/lib/magnific-popup/magnific-popup.css", rel="stylesheet")
        link(href="#{static_url}/lib/hover/hover.min.css", rel="stylesheet")

        link(rel="stylesheet", href="#{static_url}/css/style.css")
        link(href="#{static_url}/css/responsive.css", rel="stylesheet")
        link(rel="shortcut icon" href="#{static_url}/images/favicon.png")
    body
        nav#main-nav
            div.row
                div.container
                    div.logo
                        a(href="")
                            img(src="#{static_url}/images/logo.png", alt="logo")

                    div.responsive
                        i.ion-navicon-round(data-icon="m")

                    ul.nav-menu.list-unstyled
                        li
                            a.smoothScroll(href="#header") Home
                        li
                            a.smoothScroll(href="#about") About
                        li
                            a.smoothScroll(href="#portfolio") Portfolio
                        li
                            a.smoothScroll(href="#journal") Blog
                        li
                            a.smoothScroll(href="#contact") Contact

        block content

        script(src="#{static_url}/lib/jquery/jquery.min.js")
        script(src="#{static_url}/lib/jquery/jquery-migrate.min.js")
        script(src="#{static_url}/lib/bootstrap/js/bootstrap.bundle.min.js")
        script(src="#{static_url}/lib/typed/typed.js")
        script(src="#{static_url}/lib/owlcarousel/owl.carousel.min.js")
        script(src="#{static_url}/lib/magnific-popup/magnific-popup.min.js")
        script(src="#{static_url}/lib/isotope/isotope.pkgd.min.js")
        script(src="#{static_url}/contactform/contactform.js")
        script(src="#{static_url}/js/main.js")
